@font-face {
  font-family: Vazir;
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/fonts/Vazir-FD-WOL.eot') format('eot'),
    url('~/assets/fonts/Vazir-FD-WOL.woff') format('woff'),
    url('~/assets/fonts/Vazir-FD-WOL.ttf') format('truetype');
}

@font-face {
  font-family: boldvazir;
  font-style: normal;
  font-weight: normal;
  src: url('~/assets/fonts/Vazir-Bold-FD-WOL.eot') format('eot'),
    url('~/assets/fonts/Vazir-Bold-FD-WOL.ttf') format('ttf'),
    url('~/assets/fonts/Vazir-Bold-FD-WOL.woff') format('woff'),
    url('~/assets/fonts/Vazir-Bold-FD-WOL.woff2') format('woff2');
}

html, body {
  margin: 0;
  font-family: vazir !important;
  min-height: 100vh;
}

body {
  background: linear-gradient(to bottom, #e0fff3, #8eb4b9);
}
.w-100-z-index-2{
  z-index: 2;
  position: absolute;
  width: 100%;
}
.max-width-1160px {
  max-width: 1270px;
  margin-top: 135px;
}
.br-15{
  border-radius: 15px;
}
.br-10-grey{
  border: 1px solid #D0D0D0;
  border-radius: 10px;
}
.p-30{
  padding-top: 35px;
  padding-bottom: 40px;
}
.bg-purple{
  background-color: #8d79d1;
}

